<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../Public/aboutus.css">
  <title>About: SvaraVilasa</title>
</head>
<body>
  <div class="navbar">
    <div class="brand">
      <a href="index.php" target="_self"><h1>SvaraVilasa</h1></a>
    </div>
    <div class="navbar-links">
      <a href="index.html" target="_self">Home</a>
      <a href="playlist.html" target="_self">Playlist</a>
      <a href="ContactUs.html" target="_self">Contact Us</a>
      
    </div>
  </div>

  <div class="aboutus-container">
    <div class="aboutus-box">
      <h1>About Us</h1>
      <p>Welcome to SvaraVilasa, your ultimate destination for music streaming. Our platform is designed to bring the joy of music to your fingertips. Whether you're a fan of the latest hits or timeless classics, we have a vast library to cater to all your musical preferences.</p>
      <p>At SvaraVilasa, we believe in the power of music to connect, inspire, and uplift. Our mission is to provide a seamless and enjoyable music streaming experience for users around the world. Explore curated playlists, discover new artists, and create your personalized musical journey with us.</p>
      <p>Join our community of music enthusiasts and embark on a sonic adventure. Feel the rhythm, embrace the melody, and let the music take you to new heights. Thank you for choosing SvaraVilasa as your go-to music streaming platform!</p>
    </div>
  </div>
</body>
</html>
