<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../Public/myaccount.css">
  <title>Account: SvaraVilasa</title>
</head>
<body>
  <div class="navbar">
    <div class="brand">
     <a href="index.html"><h1>SvaraVilasa</h1></a> 
    </div>
    <div class="navbar-links">
      <a href="index.php" target="_self">Home</a>
      <a href="playlist.html">Playlist</a>
      <a href="aboutus.html" target="_self">About Us</a>
      <a href="ContactUs.html" target="_self">Contact Us</a>
    </div>
  </div>

  <div class="myaccount-container">
    <div class="myaccount-box">
      <h1>My Account</h1>
      <div class="user-details">
        <p><strong>Full Name:</strong> John Doe</p>
        <p><strong>Usercode:</strong> 1109</p>
        <p><strong>Email:</strong> johndoe@example.com</p>
        <p><strong>Subscription Plan:</strong> Premium</p>
      </div>
      <button class="delete-account">Delete Account</button>
    </div>
  </div>
</body>
</html>
